div.front-head {
    height: 100%;
}

div.front-2 {
    text-align:center;
    height: 100%;
    padding-bottom: 20px;
    background-color: #d631f7;
    background: -moz-linear-gradient(top, #d631f7 0%, #4e75ed 100%);
    background: -webkit-linear-gradient(top, #d631f7 0%,#4e75ed 100%);
    background: linear-gradient(to bottom, #d631f7 0%,#4e75ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d631f7', endColorstr='#4e75ed',GradientType=0 );
}

body {
    background-color: #d631f7;
    background-color: -moz-linear-gradient(top, #d631f7 0%, #4e75ed 100%);
    background-color: -webkit-linear-gradient(top, #d631f7 0%,#4e75ed 100%);
    background-color: linear-gradient(to bottom, #d631f7 0%,#4e75ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d631f7', endColorstr='#4e75ed',GradientType=0 );
}

img{
    padding: 25px;
}

