html {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
}

h3 {
	font-size: 150px;
	margin: 0 10px
}

p, li {
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;
}

body {
	margin: 0 auto;
	/*background: linear-gradient(135deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);*/
	background-color: #b8bac6;
}

h1 {
	margin: 0;
	padding: 20px 0;
}

img {
	display: block;
	margin: 0 auto;
}

h2, h6, p, h3 {
	text-align: center;
}

h2, h6, p, h1 {
	padding: 0 20px 20px 20px;
}

button {
	margin: 0 20px
}

h3 {
	letter-spacing: 20px;
}
							/*----------------------------------------*\
												DISCORD					
							\*----------------------------------------*/
iframe {
	padding: 0 20px;
	/*margin: 0 455px;*/
}
							/*----------------------------------------*\
												NAVBAR					
							\*----------------------------------------*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4c4cbf;
}

a visited {
	color :#ed8a21;
}